.center{
  text-align: center;
}
.bg-red{
  background: red;
}
.mx-auto{
  margin: auto;
}
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;}
.items-center{
  align-items: center;
  
}
.display{
  display: none;
}
.btn{
  width: 140px;
}
.right{
  float:right;
}
